.h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 3rem;
  color: white;
}

.ul {
  list-style: none;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 800px;
}

.li {
  font-size: 1.2rem;
  margin: 1rem 0;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset -6px -6px 5px rgba(0, 0, 255, 0.3),
    inset 6px 6px 5px #f6f6f6;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.li.selected {
  box-shadow: rgb(124, 194, 255) 3px 3px 6px 0px inset,
    rgba(0, 0, 255, 0.3) -3px -3px 6px 1px inset;
}

.arrowIcon {
  margin-right: 8px;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyImageWrap {
  display: flex;
  align-items: center;
}

.emptyPromptsImage {
  width: 300px;
  height: auto;
}

.emptyText {
  color: #fff;
  max-width: 350px;
  font-size: 30px;
  margin-left: 32px;
  font-weight: bold;
}

.goHomeButton {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 0px 40px 0px;
}

.goHomeButton:hover {
  background-color: #303f9f;
}

.promptWrapper {
  display: flex;
  flex-direction: column;
}

.outputText {
  color: white;
  font-size: 14px;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 2rem;
  }

  .li {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .emptyImageWrap {
    flex-direction: column;
  }

  .emptyPromptsImage {
    width: 250px;
  }

  .emptyText {
    text-align: center;
  }
}
